.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
}

.image-list {
  display: flex;
  overflow: hidden;
  width: 100%;
}

mat-card {
  margin: 10px;
  flex: 0 0 auto;
}

.nav-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.select-all-container {
  margin-top: 10px;
}
